#title{
    color: #6cc1fa;
    font-size: 79px;
}
body,.button{
    background-color: #18191A;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
}

.button{
    background-color: #6cc1fa;
    font-size: 30px;
    border-radius: 10px;
}
.link:link{
    text-decoration: none;

}
.link:visited{
    text-decoration: none;

}

